*{
    padding: 0;
    margin: 0;
    background-color: #ff004f;

}
.icon{
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
/*-------css for smaal screen--------*/
.icon{
    display: none;
}
@media only screen and (max-width:600px){
    #icon1{
        display: block;
        color: blue;
    }
    #icon2{
        display: block;
        color: green;
    }
    #icon3{
        display: block;
        color: #ff004f;
    }
    #icon4{
        display: block;
        color: aqua;
    }
}